<div id='main' class='container clearfix show'>
    <section class='grid_12'>
        <h1>gather</h1>
        <h2>Find a gathering with like-minded plebs just like you</h2>
    </section>

    <section class='grid_12'>
        <form action="/result" method="post">
            <input type='text' name='search' placeholder='What are you into?' id='search'>
            <article id='input-buffer'><h3>in</h3></article>
            <input type='text' name='location' id='userCity'><br>
            <button id="search">Gather up!</button>
        </form>
    </section>
</div>

<div id="map-container" class="hide">
    <div id="sidebar">
        <article id="results-box">
            <h3>Name of Meetup</h3>
            <h2>Meetup Location</h2>
            <button>Save</button>
            <hr>
        </article>

    </div>
    <div id="map">
        x
    </div>
</div>