<div id='main' class='container clearfix'>
    <section id='main' class='grid_12'>
        <h1>gather</h1>
        <h2>Find a gathering with like-minded plebs just like you</h2>
    </section>

    <section class='grid_12'>
        <form action="/result" method="post">
            <input type='text' name='search' placeholder='What are you into?' id='search'>
            <article id='input-buffer'><h3>in</h3></article>
            <input type='text' name='location' id='userCity'><br>
            <button id="search">Gather up!</button>
        </form>
    </section>
</div>