<div id="bgvid-container">
    <video playsinline autoplay muted loop poster="" id="bgvid">
        <!--<source src="polina.webm" type="video/webm">-->
        <source src="../images/video.mp4" type="video/mp4">
    </video>
</div>

    <div id='main' class='container clearfix'>
        <section class='grid_12'>
            <h1>gather</h1>
            <h2 class="subheader">What are you into?</h2>
        </section>

        <section class='grid_12'>

                <select name="categories" id="categories-menu">
                    <option value="1">Arts & Culture</option>
                    <option value="34">Technology</option>
                    <option value="27">Photography</option>
                    <option value="18">Book Clubs</option>
                    <option value="1">Career & Business</option>
                    <option value="3">Cars & Motorcycles</option>
                    <option value="4">Community & Environment</option>
                    <option value="5">Dancing"</option>
                    <option value="6">Education & Learning</option>
                    <option value="8">Fashion & Beauty</option>
                    <option value="9">Fitness</option>
                    <option value="10">Food & Drink</option>
                </select>

                <article id='input-buffer'><h3>in</h3></article>
                <input type='text' name='location' placeholder='Location' id='location-input'><br>
                <button id="gatherUp">Gather up!</button>

        <section id="geolocationDiv" class="hide">
            <article>
                <p id="country"></p>
                <p id="state"></p>
                <p id="city"></p>
                <p id="latitude"></p>
                <p id="longitude"></p>
                <p id="ip"></p>
            </article>
        </section>




    </section>
</div>

<div id="map-container" class="hide">
    <div id="sidebar" class="grid_3 omega">
        <!--<article class="results-box">-->
        <!--<h3>Name of Meetup</h3>-->
        <!--<h2>Meetup Location</h2>-->
        <!--<button>Save</button>-->
        <!--<hr>-->
        <!--</article>-->
    </div>
    <div id="map" class="grid_9 omega">
        x
    </div>
</div>