<div id="main">
    <section>
        <img src="assets/images/gather-logo.svg" alt="Gather" id="main-logo">
        <h3 id="main-subhead">What are you into?</h3>
        <article>
            <select name="var" id="category" class="main-field">
                <option value="1">Category</option>
                <option value="1">Category</option>
                <option value="1">Category</option>
            </select>
            <h3 id="tweener">in</h3>
            <input type="text" class="main-field">
            <br>
            <a href="/results"><button id="main-button">Gather up!</button></a>
        </article>
    </section>
</div>