<html>
<head>
    <title>gather - Find local meetups and get-togethers in your area</title>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../styles/grid.css" type="text/css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no" />
</head>

<body>
<div id="menu-bar">
    <section id="menu-bar-wrapper" class="container">
        <a href="#">Sign in</a> &nbsp <a href="#">Register</a>
    </section>
</div>

{{{body}}}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script type="text/javascript" src="../scripts/main.js"></script>
    <script src="../scripts/input-test.js"></script>
</body>

</html>