<!DOCTYPE html>
<html>
<head>
    <title>Gather: {{title}}</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div id="menu-bar">
        <nav id="main-nav">
            <a href="#">Login</a>
            <a href="#">Register</a>
            <a href="/">Home</a>
            <a href="/results">Results</a>
        </nav>
    </div>
    {{{body}}}
</body>
</html>