<h3>Login</h3>
<form action="/login/logged" method="post">
    <input type="text" name="user_name" value="Yoyoyoyoyo" required>
    <input type="password" name="password" value="yeswecan" required>
    <button>submit</button>
</form>