<div class="container" id="registration-container">
    <section class="grid_12 omega" id="registration-section">
        <hr class="registration">
        <h3 class="register">Log-in</h3>
        <h4 class="register-subhead">This is a subheader for the log-in page.</h4>
        <form action="/login/logged" method="post">
            <input type="text" name="user_name" value="Yoyoyoyoyo" required>
            <input type="password" name="password" value="yeswecan" required>
            <button class="register-button">Log-In</button>
        </form>
    </section>
</div>