<div id="container">
    <div id="sidebar">
        <article class="results-box">
            <h3>Name of Meetup</h3>
            <h2>Meetup Location</h2>
            <button>Save</button>
            <hr>
        </article>
    </div>
    <div id="map">
        x
    </div>
</div>