<div id="profile-container" class="container">
    <section class="grid_3 alpha omega" id="profile-image">
    </section>

    <section class="grid_8 omega" id="profile-section">
        <hr class="registration">
        <h3 class="register">{{first_name}} {{last_name}}</h3>
        <h4 class="profile">@{{user_name}}</h4>
    </section>

    <section class="grid_12 omega" id="saved-event-container">
        <h3 class="register">Saved Events</h3>
        <div class="saved-event-box">

        </div>
        <div class="saved-event-box">

        </div>
        <div class="saved-event-box">

        </div>
        <div class="saved-event-box">

        </div>
        <div class="saved-event-box">

        </div>
        <div class="saved-event-box">

        </div>
        <div class="saved-event-box">

        </div>
        <div class="saved-event-box">

        </div>
        <div class="saved-event-box">

        </div>
    </section>
</div>


<!--<hr class="registration">-->
<!--<h3 class="register">Register</h3>-->
<!--<h4 class="register-subhead">This is a subheader for the registration page.</h4>-->
<!--<form action="/register/created" method="post">-->
    <!--<input type="text" name="user_name" placeholder="Username" value="" required>-->
    <!--<input type="text" name="email" placeholder="Email" value="" required>-->
    <!--<input type="text" name="first_name" placeholder="First Name" value="" required>-->
    <!--<input type="text" name="last_name" placeholder="Last Name" value="" required>-->
    <!--<input type="password" name="password_hash" placeholder="Password" value="" required>-->
    <!--<button class="register-button">submit</button>-->
    <!--<a href="./"><button class="register-button-return">return</button></a>-->
<!--</form>-->