<h3>Register</h3>
<form action="/users/create" method="post">
    <input type="text" name="email" value="" placeholder="Email" required>
    <input type="text" name="name" value="" placeholder="Name" required>
    <input type="password" name="password_hash" value="" placeholder="Password" required>
    <input type="text" name="location" value="" placeholder="Location">
    <button>submit</button>
</form>