<div id="sidebar-container">
    <aside id="sidebar">
        <section id="search-results">
            <article class="results">
                sss
                xxx
                aaaaaa
            </article>
        </section>
    </aside>
</div>
<div id="map-container">
    xxx
</div>